#include <winver.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION 0,0,1,1
PRODUCTVERSION 0,0,1,1
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS 0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_DLL
FILESUBTYPE 0x0L
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904E4" // Language: US English, Unicode
        {
            VALUE "CompanyName", "Klaus Hahnenkamp"
            VALUE "FileDescription", "Theme support for Voicemeeter"
            VALUE "FileVersion", "0.0.2.0"
            VALUE "InternalName", "vmchroma"
            VALUE "LegalCopyright", "Copyright (C) 2025 Klaus Hahnenkamp"
            VALUE "OriginalFilename", "vmchroma.dll"
            VALUE "ProductName", "VMChroma"
            VALUE "ProductVersion", "0.0.2.0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 1252
    }
}
